<link rel="stylesheet" href="recuperar.page.scss">

<ion-content [fulscreen]="true">
  <ion-icon name="arrow-back-outline" class="seta" size="large" (click)="voltarLogin()"></ion-icon>
  <img class="ftprincipal" src="../../assets/img/ImgFundo2.png" alt="Imagem">

  <div id="container" class="fundo1">
    <h1 class="titulo"><b>Esqueceu sua senha ?</b></h1>
    <ion-label class="paragrafo">Não esquenta! acontece. Por favor insira o email associado com a conta</ion-label>

    <ion-input required placeholder="seuemail@email.com" type="email" ></ion-input>
    
    <ion-button expand="block" class="butao" mode="ios" (click)="abrirPaginaCodigo()">Confirmar Email</ion-button>
    
  </div>


</ion-content>
