<link rel="stylesheet" href="./codigo.page.scss">

<ion-header [fullscreen]="true">
  <ion-toolbar>
    <ion-button slot="start" class="vorta" mode="md" defaultHref="login">
      <ion-back-button></ion-back-button> 
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fulscreen]="true">

  <div id="container" class="fundo1">
    <ion-label class="paragrafo">Um código foi enviado para o seu email</ion-label>

    <ion-list>
      
      <ion-input required type="number" ></ion-input>

      <ion-input required type="number" ></ion-input>

      <ion-input required type="number" ></ion-input>

      <ion-input required type="number" ></ion-input>
    </ion-list>

    <h6>Reenviar o código em </h6>
    
    <ion-button expand="block" class="butao" mode="ios" (click)="abrirPaginaNovaSenha()">Verificar</ion-button>
    
  </div>


</ion-content>
