<link rel="stylesheet" href="./conta.page.scss">

<ion-content [fullscreen]="true">

  <div class="header">
    <h4 class="titulo">Conta</h4>
    <img src="../../../assets/img/userImg.png" alt="ImagenDeUsuario"class="img">
    <h5 id="titulo" class="nome">Seu nome</h5>
  </div>

  <div>

    <ion-item>
      <ion-label>
        <ion-icon name="document-text-outline"></ion-icon>
        Meus dados
      </ion-label>
      <ion-icon name="chevron-forward" color="medium"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-icon name="heart-outline"></ion-icon>
        Favoritos
      </ion-label>
      <ion-icon name="chevron-forward" color="medium"></ion-icon>
    </ion-item>

    <ion-item (click)="abrirPaginaPagamentos()">
      <ion-label>
        <ion-icon name="wallet-outline"></ion-icon>
        Pagamentos
      </ion-label>
      <ion-icon name="chevron-forward" color="medium"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
        conversas
      </ion-label>
      <ion-icon name="chevron-forward" color="medium"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-icon name="notifications-outline"></ion-icon>
        Notificações
      </ion-label>
      <ion-icon name="chevron-forward" color="medium"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-icon name="Newspaper-outline"></ion-icon>
        Lista de compras
      </ion-label>
      <ion-icon name="chevron-forward" color="medium"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-icon name="shield-checkmark-outline"></ion-icon>
        Segurança
      </ion-label>
      <ion-icon name="chevron-forward" color="medium"></ion-icon>
    </ion-item>

    <ion-item lines="none" (click)="exibirAlertaSair()">
      <ion-label color="danger">
        <ion-icon name="log-out-outline" color="danger"></ion-icon>
        Sair
      </ion-label>
    </ion-item>

  </div>

</ion-content>
