*{
  --ion-background-color: #ffff;
  --ion-text-color: #000000;
}

.imgTitulo{
  width: 114px;
  height: 40px;
  margin-left: 32%;
  margin-top: 5%;
}

.titulo1{
  margin-left: 10%;
}

.titulo2{
  margin-left: 10%;
  margin-bottom: -11%;
}

.diviTi{
  display: flex;
}

#verMais{
  font-size: small;
  margin-left: 70%;
}

.placeHolder{
  margin-left: 10%;
  width: 238px;
  height: 123px;

}

.placeHolderCat{
  margin-bottom: 5%;
}

.lista1{
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  justify-content: space-around;
  -webkit-overflow-scrolling: touch;

  .cat{
      flex: 0 0 auto;
  }
}


ion-card{
  width: 130px;
  height: 200px;
  border-radius: 15%;
}

.placeHolderMV{
  width: 238px;
  height: 123px;
}

.lista2{
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
}
