<link rel="stylesheet" href="./home.page.scss">

<ion-content [fullscreen] = "true">
  <img src="../../assets/img/takout.png" alt="Imagen" class="imgTitulo">

  <ion-fab>
    <ion-fab-button (click)="adicionarCarrinho()" #cart>
      <div class="cart-length">{{ cartItemCount | async }}</div>
      <img src="../../../assets/icon/Buy.svg" alt="Imagem" class="carrinho">
    </ion-fab-button>
  </ion-fab>


  <h5 class="titulo1">Ao seu redor</h5>

  <ion-button class="placeHolder" color="medium"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d116992.51398152318!2d-46.77613483749997!3d-23.603756900000008!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5a3bd679a445%3A0x6ca3a8c4722bbc61!2sSanta%20F%C3%A9%20Mercado!5e0!3m2!1spt-BR!2sbr!4v1666019097224!5m2!1spt-BR!2sbr" width="290" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></ion-button>

   <h5 class="titulo2" >Categorias</h5> <h6 id="verMais"><a href="">Ver mais</a></h6>


  <div class="lista1">

    <div class="cat">
      <img src="../../../assets/img/limpeza.png" alt="Imagem">
      <ion-label class="catLaber">Limpeza</ion-label>
    </div>

    <div class="cat">
      <img src="../../../assets/img/construcao.png" alt="Imagem">
      <ion-label class="catLaber">Construção</ion-label>
    </div>

    <div class="cat">
      <img src="../../../assets/img/comida.png" alt="Imagem">
      <ion-label class="catLaber">Comida</ion-label>
    </div>

    <div class="cat">
      <img src="../../../assets/img/escolar.png" alt="Imagem">
      <ion-label class="catLaber">Material</ion-label>
    </div>

  </div>

  <h5 class="titulo2">Mais vendidos</h5> <h6 id="verMais"><a href="">Ver mais</a></h6>

  <div class="lista2">

    <ion-card *ngFor="let p of products">
      <img src={{p.imagem}} alt="Imagem" class="placeHolderMV" (click)="irPaginaProdutoPage()">
      <ion-card-header>
        <ion-card-subtitle>{{ p.name }}</ion-card-subtitle>
        <img src="../../../assets/icon/add.svg" alt="Imagem" class="mais" (click)="addToCart(p)">
        <ion-label>
          <h2 class="tituloCard">{{ p.price | currency:'BRL' }}</h2>
        </ion-label>
      </ion-card-header>
    </ion-card>
  </div>

</ion-content>
