<link rel="stylesheet" href="./home.page.scss">

<ion-content [fullscreen] = "false">
  <img src="../../assets/img/takout.png" alt="Imagen" class="imgTitulo"> <a href=""><ion-icon name="cart-outline" color="dark" class="carrinho"></ion-icon></a>

  <h5 class="titulo1">Ao seu redor</h5>

  <ion-button class="placeHolder" color="medium">PLACE HOLDER</ion-button>

   <h5 class="titulo2" >Categorias</h5> <h6 id="verMais"><a href="">Ver mais</a></h6>


  <div class="lista1">

    <div>
      <ion-fab-button class="placeHolderCat" color="medium" size="large" shape="round"></ion-fab-button>
      <ion-label class="catLabel">Categoria</ion-label>
    </div>

    <div class="cat">
      <ion-fab-button class="placeHolderCat" color="medium" size="large" shape="round"></ion-fab-button>
      <ion-label class="catLaber">Categoria</ion-label>
    </div>

    <div class="cat">
      <ion-fab-button class="placeHolderCat" color="medium" size="large" shape="round"></ion-fab-button>
      <ion-label class="catLaber">Categoria</ion-label>
    </div>

    <div class="cat">
      <ion-fab-button class="placeHolderCat" color="medium" size="large" shape="round"></ion-fab-button>
      <ion-label class="catLaber">Categoria</ion-label>
    </div>

    <div class="cat">
      <ion-fab-button class="placeHolderCat" color="medium" size="large" shape="round"></ion-fab-button>
      <ion-label class="catLaber">Categoria</ion-label>
    </div>

  </div>

  <h5 class="titulo2">Mais vendidos</h5> <h6 id="verMais"><a href="">Ver mais</a></h6>

  <div class="lista2">

    <ion-card>
      <ion-button class="placeHolderMV" color="medium">PLACE HOLDER</ion-button>
      <ion-card-header>
        <ion-card-subtitle>Produto 1</ion-card-subtitle>
        <ion-card-title>R$ 9.99</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <ion-button class="placeHolderMV" color="medium">PLACE HOLDER</ion-button>
      <ion-card-header>
        <ion-card-subtitle>Produto 2</ion-card-subtitle>
        <ion-card-title>R$ 9.99</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <ion-button class="placeHolderMV" color="medium">PLACE HOLDER</ion-button>
      <ion-card-header>
        <ion-card-subtitle>Produto 3</ion-card-subtitle>
        <ion-card-title>R$ 9.99</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <ion-button class="placeHolderMV" color="medium">PLACE HOLDER</ion-button>
      <ion-card-header>
        <ion-card-subtitle>Produto 4</ion-card-subtitle>
        <ion-card-title>R$ 9.99</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <ion-button class="placeHolderMV" color="medium">PLACE HOLDER</ion-button>
      <ion-card-header>
        <ion-card-subtitle>Produto 5</ion-card-subtitle>
        <ion-card-title>R$ 9.99</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <ion-button class="placeHolderMV" color="medium">PLACE HOLDER</ion-button>
      <ion-card-header>
        <ion-card-subtitle>Produto 6</ion-card-subtitle>
        <ion-card-title>R$ 9.99</ion-card-title>
      </ion-card-header>
    </ion-card>

  </div>

</ion-content>
