<link rel="stylesheet" href="./tab-p.page.scss">

<ion-content>
  <h3 class="titulo">Meus pedidos</h3>
</ion-content>

<ion-tabs>
  <ion-tab-bar slot="top" color="medium" class="funciona">
    <ion-tab-button tab="pedidos" class="butao" [ngClass]="isClicked() ? 'btnCinza': 'btn' "(click)="onClick()">
      <ion-label>Ativos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="historico" class="butao" [ngClass]="isClicked2() ? 'btnCinza': 'btn' "(click)="onClick2()">
      <ion-label>Histórico</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>

