*{
    --ion-background-color: #ffff;
    --ion-text-color: #000000;
}

.titulo{
    margin-bottom: -9.5%;
    margin-top: 15%;
    margin-left: 36%;
}

.seta{
    list-style: none;
    margin-left: 5%;
}

.imgProduto{
    width: 100px;
    height: 100px;
    border-radius: 15px;
    margin-right: 15px;
}

.btnExclu{
    margin-left: 100px;
}

.titulo2{
    margin-top: 20%;
    margin-left: 7%;
}

.titulo3{
    margin-left: 7%;
}

.total{
    background-color: #ffffff;
}

ion-item{
    --ion-item-background: #ffff;
}

.carrinho{
  --ion-item-background: #d1d1d1;
  border: solid 1px #d1d1d1;
  border-radius: 10px;
  margin-bottom: 3%;
  margin-left: 5%;
  max-width: 90%; // <--- Felicidade genuina
}
