<link rel="stylesheet" href="./menu.page.scss">

<ion-content [fullscreen]="true">

  <h3 class="titulo"><b>O que você procura ?</b></h3>

  <ion-item lines="none">
    <ion-input fill="outline" type="text">
      <ion-icon slot="end" name="search-outline" color="primary" class="icone"></ion-icon>
    </ion-input>

    <ion-button class="btnFiltro" color="medium">
      <ion-icon name="funnel-outline" class="icone2"></ion-icon>
    </ion-button>
  </ion-item>

  <h3 id="titulos"><b>Pesquisas anteriores</b></h3>
  <div class="MercadoAnt">
    <ion-card>
      <img src="../../../assets/img/ImgFundoNelson.png" (click)="irPaginaLoja()"alt="Imagem" class="placeHolderMV" >
      <ion-card-header>
        <ion-card-title>Nelsonaria</ion-card-title>
        <img alt="Heart icon" [src]="favoritado ? '../../assets/icon/HeartVazio.png' : '../../assets/icon/Colacao.png'" class="mais" (click)="favoritar()">
      </ion-card-header>
    </ion-card>
  </div>

  <h3 id="titulos"><b>Mais pesquisados</b></h3>

  <div class="lista2">

    <ion-card>
      <img src="../../../assets/img/morango.png" alt="Imagem" class="placeHolderMV" >
      <ion-card-header>
        <ion-card-subtitle>Morango</ion-card-subtitle>
        <img src="../../../assets/icon/add.svg" alt="Imagem" class="mais" (click)="adicionarCarrinho()">
        <ion-label>
          <h2 class="tituloCard">R$ 15,50</h2>
        </ion-label>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <img src="../../../assets/img/canopvc.png" alt="Imagem" class="placeHolderMV" >
      <ion-card-header>
        <ion-card-subtitle>Cano PVC</ion-card-subtitle>
        <img src="../../../assets/icon/add.svg" alt="Imagem" class="mais">
        <ion-label>
          <h2 class="tituloCard">R$ 28,90</h2>
        </ion-label>
      </ion-card-header>
    </ion-card>

    
  </div>

</ion-content>
