<link rel="stylesheet" href="produto-page.page.scss">
<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

<ion-content [fullscreen]="true">
  <!--Imagem fundo-->
  <img class="ftprincipal" src="../../assets/img/ImgFundoNelson.png" alt="Imagem">

  <div id="container" class="fundo1">

  <!--Tags e favorito-->
  <div class="topozinho">
    <ion-chip color="primary" class="tag" [outline]="true" [disabled]="true">Popular</ion-chip>

    <div class="DivMenEFav">
      <!--DM-->
      <ion-chip color="primary">
          <img alt="Direct Message icon" src="../../assets/icon/DM.png" />
      </ion-chip>

      <!--Favorito-->
      <ion-chip color="danger" id="fav" (click)="favoritar()">
        <img [src]="favoritado ? '../../assets/icon/HeartVazio.png' : '../../assets/icon/Colacao.png'">
      </ion-chip>

    </div>
  </div>

  <form>
    <ion-input placeholder="seuemail@email.com" type="email" mode="md">
      <img src="../../assets/icon/Message.svg" alt="" class="icon">
    </ion-input>

    <ion-input placeholder="Insira sua senha" type="password" mode="md" >
      <img src="../../assets/icon/Lock.svg" class="icon">
    </ion-input>
    <img src="../../assets/icon/Hide.svg" class="iconh">

  </form>

    <ion-label><div class="esenha"><a (click)="abrirPaginaRecuperar()" >Esqueceu a senha?</a></div></ion-label>

    <ion-button expand="block" mode="ios" class="butao" (click)="abrirPaginaHome()">Entrar</ion-button>

    <ion-label><div class="cad">Não tem uma conta?<a (click)="abrirPaginaCadastro()">Cadastre-se</a></div></ion-label>

  </div>



</ion-content>
