<link rel="stylesheet" href="./home.page.scss">

<ion-content [fullscreen] = "false">
  <img src="../../assets/img/takout.png" alt="Imagen" class="imgTitulo">

  <h5 id="titulo">Ao seu redor</h5>

  <ion-button class="placeHolder" color="medium">PLACE HOLDER</ion-button>

  <h5 id="titulo" >Categorias</h5>

  <ion-list class="lista1">

    <div>
      <ion-fab-button class="placeHolderCat" color="medium" size="large" shape="round"></ion-fab-button>
      <ion-label class="catLabel">Categoria</ion-label>
    </div>

    <div class="cat">
      <ion-fab-button class="placeHolderCat" color="medium" size="large" shape="round"></ion-fab-button>
      <ion-label class="catLaber">Categoria</ion-label>
    </div>

    <div class="cat">
      <ion-fab-button class="placeHolderCat" color="medium" size="large" shape="round"></ion-fab-button>
      <ion-label class="catLaber">Categoria</ion-label>
    </div>

    <div class="cat">
      <ion-fab-button class="placeHolderCat" color="medium" size="large" shape="round"></ion-fab-button>
      <ion-label class="catLaber">Categoria</ion-label>
    </div>

  </ion-list>

  <h5 id="titulo">Mais vendidos</h5>

  <ion-list class="lista2">

    <ion-card>
      <ion-button class="placeHolderMV" color="medium">PLACE HOLDER</ion-button>
      <ion-card-header>
        <ion-card-subtitle>Produto 1</ion-card-subtitle>
        <ion-card-title>R$ 9.99</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <ion-button class="placeHolderMV" color="medium">PLACE HOLDER</ion-button>
      <ion-card-header>
        <ion-card-subtitle>Produto 1</ion-card-subtitle>
        <ion-card-title>R$ 9.99</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <ion-button class="placeHolderMV" color="medium">PLACE HOLDER</ion-button>
      <ion-card-header>
        <ion-card-subtitle>Produto 1</ion-card-subtitle>
        <ion-card-title>R$ 9.99</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <ion-button class="placeHolderMV" color="medium">PLACE HOLDER</ion-button>
      <ion-card-header>
        <ion-card-subtitle>Produto 1</ion-card-subtitle>
        <ion-card-title>R$ 9.99</ion-card-title>
      </ion-card-header>
    </ion-card>

  </ion-list>

</ion-content>
