*{
  --ion-background-color: #ffff;
  --ion-text-color: #000000;
}

.imgTitulo{
  width: 114px;
  height: 40px;
  margin-left: 32%;
  margin-top: 5%;
}

#titulo{
  margin-left: 10%;
}

.placeHolder{
  margin-left: 10%;
  width: 238px;
  height: 123px;

}

.placeHolderCat{
  margin-bottom: 5%;
}

.lista1{
    display: flex;
    justify-content: space-around;
}

ion-card{
  width: 110px;
  height: 200px;
  border-radius: 15%;
}

.placeHolderMV{
  width: 238px;
  height: 123px;
}

.lista2{
  display: flex;
}
