*{
  --ion-background-color: #ffff;
  --ion-text-color: #000000;
}

.imgTitulo{
  width: 114px;
  height: 40px;
  margin-left: 32%;
  margin-top: 5%;
}

#titulo{
  margin-left: 10%;
}

.placeHolder1{
  margin-left: 10%;
  width: 238px;
  height: 123px;

}